/* reset */
html{-webkit-text-size-adjust:none;-webkit-user-select:none;-webkit-touch-callout: none;font-family:'MicroSoft YaHei', Helvetica;
}
body,h1,h2,h3,h4,h5,h6,p,dl,dd,ul,ol,pre,form,input,textarea,th,td,select{margin:0; padding:0; font-weight: normal;text-indent: 0;}
a,button,input,textarea,select{ background: none; -webkit-tap-highlight-color:rgba(255,0,0,0); outline:none; -webkit-appearance:none;}
em{font-style:normal}
li{list-style:none}
a{text-decoration:none;}
a:hover{text-decoration:none;}
img{border:none; vertical-align:top;outline-width:0;}
table{border-collapse:collapse;}
textarea{ resize:none; overflow:auto;}
/* end reset */
.header{
	background: skyblue;
	padding: 15px;
}
.title{
	color: #fff;
	text-align: center;
}
.input{
	padding: 15px;
}
.input>input{
	border: 0;
	width: 100%;
	font-size: 16px;
	outline: 0;
}
.listItem{
	padding: 15px;
	font-size: 16px;
	background: #f5f5f5;
	margin-bottom: 5px;
}